/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #222;
  --clr: #fff;
}

/* Container styles */
.containerIc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 7vh;
  background: var(--bg);
}

.containerIc ul {
  display: flex;
  position: relative;
  gap: 2rem;
}

.containerIc ul li {
  position: relative;
  list-style: none;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.containerIc ul li:before {
  content: "";
  position: absolute;
  inset: 1rem;
  box-shadow: 0 0 0 0.5rem var(--clr), 0 0 0 1rem var(--bg), 0 0 0 1.1rem var(--clr);
  transition: 0.5s;
}

.containerIc ul li:hover:before {
  inset: 0;
}

.containerIc ul li:after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bg);
  transform: rotate(45deg);
}

.containerIc ul li:hover {
  z-index: 1000;
  transform: scale(0.75);
}

.containerIc ul li a {
  position: relative;
  text-decoration: none;
  color: var(--clr);
  font-size: 1.5rem;
  z-index: 10;
  transition: 0.5s;
}

.containerIc ul li a:hover {
  font-size: 3rem;
  filter: drop-shadow(0 0 0.5rem var(--clr)) drop-shadow(0 0 1rem var(--clr)) drop-shadow(0 0 1.5rem var(--clr));
}

/* Media queries */
@media screen and (min-width: 480px) {
  .containerIc ul {
    gap: 4rem;
  }
  
  .containerIc ul li {
    width: 8rem;
    height: 8rem;
  }
  
  .containerIc ul li:before {
    inset: 2.25rem;
    box-shadow: 0 0 0 0.625rem var(--clr), 0 0 0 1.25rem var(--bg), 0 0 0 1.375rem var(--clr);
  }
  
  .containerIc ul li a {
    font-size: 4rem;
  }
  
  .containerIc ul li a:hover {
    font-size: 3.5rem;
  }

}